.gradle
build/
target/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/


### IntelliJ IDEA ###
.idea/.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.classpath
.project
.settings/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/
*.log
tmp/
.env

*.gz
log/
debug.log

### System Files ###
*.swp
*.swo
*.bak
Thumbs.db
*.tmp
*.lock

hs_err_pid*
node_modules/
coverage/

### Eclipse ###
.apt_generated
.factorypath
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store