<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Set Password</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>

<body>
<div class="container">

    <h2>Set Your Admin Account</h2>
    <p th:if="${error}" style="color: red;">[[${error}]]</p>

    <form th:action="@{/admins/set-admin-account}" method="post">
        <input type="hidden" name="token" th:value="${token}"/>

        <label for="name">Your Name:</label>
        <input type="text" id="name" name="name" required/>

        <label for="password">New Password:</label>
        <input type="password" id="password" name="password" required/>

        <button type="submit">Save</button>
    </form>

</div>
</body>
</html>